@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: 'Montserrat', sans-serif;
}
form {
  display: flex;
  flex-direction:column;
  align-items: center;
}
button {
  margin-top: 20px !important;
}
.cont {
  float: right;
  width: 50%;}

.titulo-principal {
  margin-bottom: 1em;
}
.boton {
  margin-right: 18px;
}

.boton-publicar {
  margin-left: 30em;
}